body {
    direction: rtl;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
}

#ulhome {
    list-style-type: none;
    margin-top: 1vh;
    margin-bottom: 0;
    padding: 1vh;
    overflow: hidden;
    background-color: #333;
}

.l {
    float: right;
    font-size: 30px;
}

    .l a {
        display: block;
        color: white;
        text-align: center;
        padding: 2vh 3vw;
        width: 100px;
        text-decoration: none;
    }

        .l a:hover {
            background-color: #111;
        }
.header {
    width: 100vw;
}

.mine {
}

.footer {
    width: 100vw;
    height: 5vh;
    background-color: red;
    margin-top: 10vh;
}
